body{
    background-image: url("images/2.jfif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    
}

div{
    
    background-color:rgba(15, 12, 12, 0.582);
    width: 290px;
    height: 360px;
    position: absolute;
    top:20%;
    left: 35%;
    padding: 3em;

}
div img{
    width: 98px;
    height: 98px;
    display: block;
    position: absolute;
    top: -60px;
    right:140px;
    border-radius: 50%;
    
}
div h1{
    color:white;
    text-align: center;
}
div label{
    color: white;
    display: block;
    
}
div t {
    margin-top: 100em;
    
}
div input{
    color: white;
    border: none;
    border-bottom: 1px  solid black;
    outline: none;
    background: transparent;
    width: 100%;
    margin-bottom: 20px;
}
div button{
    border: none;
    text-align: center;
    outline: none;
    background: transparent;
    width: 100%;
    margin-bottom: 20px;
    color: white;
    background-color:rgba(15, 12, 12, 0.815);
    font-size: 20px;
    padding: 0.3em;
    border-radius: 50px;
}

div a{

    text-decoration: none;
    color: white;
    font-size: 13px;
    line-height: 35px;
    
}
div button:hover{
    font-weight: 550;
    background-color:rgba(15, 12, 12, 0.89) ;
}

div a:hover{

font-weight: bold;

}
@media only screen and (max-width: 667px){
    div{
        left: 0.2em;

    }
}